<h3>top rated movies</h3>

<div class="top-rated-movies">
   
    <div class="most-rated">
     
        <div class="most-rated-movie container">
            <div class="poster-big">
                <img src="https://festagent.com/system/tilda/tild3562-6362-4762-b036-653363663832__a01ccf32943f670ef632.jpg" alt="img">
            </div>
            
             <div class="about-film">

                <div class="allDiscription">

                        <span class="offer">An offer you can't refuse</span>
                    
                        <h4 class="movies-name">The Godfater</h4>
                    
                        <div class="dicription-short">
                            <span>mar17. 1948</span>
                            <span class="dots"></span>
                            <span>Drama, Crime</span>
                            <span class="dots"></span>
                            <span>2h 55m</span>
                        </div>
                    
                        <span class="overview">Overview</span>
                    
                        <p class="discription-big">Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.</p>
                                        
                </div>
                
                <span class="rating">
                    87
                </span>    

                <div class="action-btn">
                    <button class="play-trailer">Play trailer</button>
                    <button class="about-movie">About this movie</button>
                    <button class="watch-later">Watch later</button>
                </div>    

            </div>
       
        </div>  

    </div>

    <div class="raiting-roll">
        
        <div class="raiting-movie">
            
            <div class="wrap-small container-small">

                <div class="poster-small">
                    <img src="https://festagent.com/system/tilda/tild3562-6362-4762-b036-653363663832__a01ccf32943f670ef632.jpg" alt="img">
                </div>
                

                <section>
                    <h4 class="movie-name-small">The Godfather</h4>

                    <div class="dicription-short-small">
                            <span>mar17. 1948</span>
                            <span class="dots"></span>
                            <span>Drama, Crime</span>
                            <span class="dots"></span>
                            <span>2h 55m</span>
                    </div>

                    <div class="action-btn-small">
                            <button class="play-trailer">Play trailer</button>
                            <button class="about-movie">About this movie</button>
                            <button class="watch-later">Watch later</button>
                    </div>
                </section>

                <span class="rating-small">
                    85
                </span>
        
            </div>

        </div>
   
    </div>
    
    <button class="load-more">load more</button>
</div>