ul {
    display: flex;
    li {
        width: 20%;
        height: 250px;
    }
    img {
        width: 100%;
    }
}

.cont {
    width: 1280px;
    margin: auto;
    // background: url('//src/assets/imgComingSoon/Rectangle\ 15.png');

}