.top-rated-movies {
  
  // max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.most-rated{
  background-color: #191919;
}

.container {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-small {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.most-rated-movie {
  display: flex;
  .poster-big {
    flex-basis: 25%;
    img {
      width: 330px;
      height: 500px;
    }
  }
  .about-film {
    flex-basis: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    padding-top: 32px;
    .allDiscription {
      margin-right: 235px;
      display: flex;
      flex-direction: column;
      .offer {
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: rgba(255, 255, 255, 0.73);
      }
      .movies-name {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 2px;
        margin-top: 24px;
        margin-bottom: 16px;
        color: #ffffff;
      }
      .dicription-short {
        display: inline-block;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;

        color: rgba(255, 255, 255, 0.73);
        span {
          margin-right: 44px;
        }
        .dots {
          position: absolute;
          width: 12px;
          height: 12px;
          transform: translate(-225%, 50%);

          background: #f15025;
          border-radius: 6px;
        }
      }
      .overview {
        margin-top: 32px;
        display: inline;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
      }
      .discription-big {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.73);
      }
    }
    .rating {
      position: absolute;
      width: 170px;
      height: 169px;
      right: 0px;
      top: 0px;


      font-family: "Raleway";
      font-style: bold;
      font-weight: 700;
      font-size: 144px;
      line-height: 169px;

      letter-spacing: 2px;

      color: #f15025;
    }
    .action-btn {
      position: relative;
      margin-top: auto;
      display: flex;
      justify-content: end;
      margin-right: 4%;

      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;

      button {
        margin-right: 72px;
        background-color: transparent;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.raiting-movie:nth-child(odd){
  background-color: #303030
}

.raiting-movie:nth-child(even){
  background-color: #191919;
}

.play-trailer::before{
  content: "";
  background: url(/assets/play-img.png) no-repeat;
  position: absolute;
  z-index: 100;
  width: 11px;
  height: 14px;
  display: block;
  margin-left: -24px;
}
.about-movie::before{
  content: "";
  background: url(/assets/about-img.png) no-repeat;
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: -30px;
  top: -1px;
}
.watch-later::before{
  content: "";
  background: url(/assets/watch-later-img.png) no-repeat;
  position: absolute;
  z-index: 100;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: -30px;
  top: -1px;
}

.raiting-roll{
  display: flex;
  flex-direction: column;
    .wrap-small{
      display: flex;
      position: relative;
    }
    .raiting-movie{
      // height: 180px;
        img {
        width: 90px;
        height: 140px;
        margin-right: 40px;
        }
        .movie-name-small {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        margin-bottom: 8px;

        color: #ffffff;
        }
        .dicription-short-small {
              span {
                margin-right: 44px;
              }
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        
        color: rgba(255, 255, 255, 0.73);

            .dots {
                position: absolute;
                width: 8px;
                height: 8px;
                transform: translate(-300%, 75%);

                background: #f15025;
                border-radius: 6px;
            }
        }
        .action-btn-small {
        position: relative;
        margin-top: 10px;
        display: flex;
        margin-left: 19px;

        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

          button {
            margin-right: 72px;
            background-color: transparent;
            color: white;
            cursor: pointer;
          }
        }  
        .rating-small{
          position: absolute;
          height: 169px;
          right: 0px;
          top: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 180px;
        /* identical to box height, or 188% */

        letter-spacing: 2px;

        color: #F15025;
        }         
    }
}

.load-more{
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #F15025;
  cursor: pointer;

  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: 1px;

color: #FFFFFF;
}
